@{
    ViewData["Title"] = "CRUD de entidades";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Pais" asp-action="Index">Countries</a>
    </li>
</ul>
